[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pytest = "*"


[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
simplejson = "*"
pandas = "*"
sklearn = "*"
typing = "*"
datetime = "*"
requests = "*"
gunicorn = "*"

[requires]
python_version = "3"
